################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch21/ch21/bin/Debug/net5.0
/ch21/ch21/obj
/ch21/.vs/ch21/v16
/ch21/ch21/bin/Release/net5.0
/ch21/.vs/ch21/DesignTimeBuild
/ch13/.vs/ch13/v16
/ch13/CodeReuse/obj
/ch13/CodeReuse/bin/Debug
/ch13/CodeReuseLibrary/obj
/ch13/CodeReuseLibrary/bin/Debug
/ch13/dotNetStandardLibrary/obj
/ch13/dotNetStandardLibrary/bin/Debug/netstandard2.1
/ch04/.vs/ch04
/ch04/Cognitive/obj
/ch04/Cognitive/bin/Debug
/ch10/.vs
/ch11/.vs/ch09
/ch11/DesignPatternsSample/obj
/ch11/DesignPatternsSample/bin/Debug
/ch11/GenericHost/bin/Debug/netcoreapp3.0
/ch13/.vs/ch13/DesignTimeBuild
/ch14/.vs/ch14
/ch14/WWTravelClubDB/obj
/ch14/WWTravelClubDB/bin/Debug
/ch14/WWTravelClubDBTest/obj
/ch14/WWTravelClubDBTest/bin/Debug
/ch14/WWTravelClubREST/obj
/ch14/WWTravelClubREST/bin/Debug
/ch17/CodeMetrics/obj
/ch17/CodeMetrics/bin/Debug
/ch17/CodeMetricsGoodCode/obj
/ch17/CodeMetricsGoodCode/bin/Debug
