################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ch21/ch21/bin/Debug/net5.0
/ch21/ch21/obj
/ch21/.vs/ch21/v16
